@media only screen and (min-width: 1600px) {
  .jumbotron {
    padding-top: 140px;
    padding-bottom: 110px;
  }
}

@media only screen and (min-width: 1430px) and (max-width: 1599px) {
  .jumbotron {
    padding-top: 100px;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1200px) {
  .jumbotron {
    padding-top: 75px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 880px) {
  nav {
    margin-top: 25px;
  }
}


@media only screen and (min-width: 600px) and (max-width: 768px) {
  .nav li {
    float: left;
  }
}

@media only screen and (max-width: 599px) {
  .screentop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .mobile .border-right {
    border: none;
    margin-right: 0;
  }

  .nav li {
    display: inline-block;
  }

  .col-xs-offset-3 {
    margin-left: 106px;
  }
}

@media only screen and (min-width: 300px) and (max-width: 408px) {
  .jumbotron {
    margin-top: 11rem;
  }

  .jumbotron p {
    font-size: 1.2rem;
  }

  .jumbotron #boldstyle {
    text-align: center;
    font-size: 1.3rem;
    margin-left: auto;
  }

  .jumbotron .mediafont {
    font-size: 1rem;
    line-height: 2;
  }
}
