/*
Body Styles
*/

html {
  font-size: 16px;
}

body {
  background-color: rgba(22, 34, 96, 0.8);
  background-color: rgba(22, 34, 96, 0.3);
}

/*
Header Styles
*/

nav h2 {
  display: inline-block;
  margin-left:1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.7rem;
  font-family: "Berkshire Swash", cursive;
  font-size: 3rem;
}


.row {
  margin-left: 0;
  margin-right: 0;
}

.container {
  padding-left: 0;
  padding-right: 0;
}

.imgborder {
  padding-left: 0;
  padding-right: 0;
  margin-top: 2px;
  margin-bottom: 2px;
}

.navbar {
    border: 0;
  }

.navbar-default {
    background-color: #fff;
    width: 97%;
  }

#navbarbg {
  background-color: rgba(130, 105, 141, 0.6);
  background-color: rgba(22, 34, 96, 0.3);
}

.navbg {
  background-color: rgba(22, 34, 96, 0.8);
}

.navbar-right {
  margin-right: 15px;
}


.border-right {
  border-right: 1px solid rgb(255, 245, 239);
  padding-right: 1rem;
}

.border-left {
  padding-left: 1rem;
}

/*
Content Styles
*/


#borderline {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  margin-top: 1.5rem;
  width: 50%;
  border-bottom: 1px solid rgb(100, 31, 67);
}

.jumbotron {
  margin-top: 12rem;
  padding-bottom: 50px;
  padding-top: 190px;
  max-height: 100%;
  font-family: "Raleway", sans-serif;
  text-align: center;
  width: 97%;
}

.jumbotron h1 {
  font-size: 1.9rem;
}

.marketheader {
  text-align: center;
  margin-bottom: 2rem;
}

#marketgreet {
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
}

.marketbox {
  margin-top: 1.5rem;
}

.marketinfo {
  padding-top: 2.8rem;
}
