html {
  font-size: 16px;
}

body {
   background-color: rgba(22, 34, 96, 0.8);
   background-color: rgba(22, 34, 96, 0.3);
}

nav h2 {
  display: inline-block;
  margin-left:1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.7rem;
  font-family: "Berkshire Swash", cursive;
  font-size: 3rem;
}

.mobile {
  display: none;
}

.row {
 margin-left: 0;
 margin-right: 0;
}


.imgborder {
  /*border: 2px solid rgba(130, 105, 141, 0.1);*/
  padding-left: 0;
  padding-right: 0;
  margin-top: 2px;
  margin-bottom: 2px;
}

.col-lg-6 {
  padding-left: 0;
}

.navbar {
    border: 0;
  }

.container {
  padding-left: 0;
  padding-right: 0;
}

#navbarbg {
  background-color: rgba(130, 105, 141, 0.6);
  background-color: rgba(22, 34, 96, 0.3);

}

.navbg {
  background-color: rgb(22, 34, 96);
  background-color: rgba(22, 34, 96, 0.8);
}


.navbar-default {
  background-color: #fff;
  width: 97%;

}

.navlogo {

}


.navbar-right {
  margin-right: 15px;
}


.border-right {
  border-right: 1px solid rgb(255, 245, 239);
  padding-right: 1rem;
}

.border-left {
  padding-left: 1rem;
}

.jumbotron {
  margin-top: 15rem;
  padding-bottom: 170px;
  padding-top: 65px;
  max-height: 100%;
  font-family: "Raleway", sans-serif;
  width: 97%;
}

.motto {
  text-align: center;
}

.jumbotron p {
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

#boldstyle {
  font-weight: 600;
  margin-left: 12rem;
  margin-bottom: 1.5rem;

}

#borderline {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  margin-top: 1.5rem;
  width: 50%;
  border-bottom: 1px solid rgb(100, 31, 67);
}

.articlelink {
  font-size: 1rem;
}


footer .navbar {
  padding-top: 0.75rem;
  min-height: 0;
}

footer .navbar-default {
  background-color: #fff;
}

.footerbg {
  background-color: rgba(130, 105, 141, 0.6);
}
